<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TC4_2005.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TC4_2005.My.MySettings.csMyProjects" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MyProjects.mdb"
            providerName="System.Data.OleDb" />
        <add name="TC4_2005.My.MySettings.csLists" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Lists.mdb;Jet OLEDB:Database Password=lupo"
             providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TC4_2005.My.MySettings>
            <setting name="ListLocation" serializeAs="String">
                <value>\\Dempsg01.emea.hpqcorp.net\tc_weekly\version_iv\lists.mdb</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>&lt;username&gt;</value>
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value>thomas.wichert@hp.com</value>
            </setting>
            <setting name="MailToCC" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSent" serializeAs="String">
                <value>2011-01-01</value>
            </setting>
            <setting name="WeeklyReporting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value>&lt;Login Token&gt;</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>&lt;Region&gt;</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>&lt;Country&gt;</value>
            </setting>
            <setting name="AutoPercent" serializeAs="String">
                <value>True</value>
            </setting>
        </TC4_2005.My.MySettings>
    </userSettings>
</configuration>
